*{
  margin:0;
  padding: 0;
  text-decoration: none;
  padding: 5px;
  background-color:rgb(220, 226, 236);
  
}
#outer-card
{
  padding: 0;
}
.container{
  display: flex;
  padding: 0px;
  z-index: -1;
}
main{
  width:100%;
  padding: 10px;
  background-color: #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.page_name
{
  text-align: center;
  color: rgb(59, 59, 59);
}
.sidebar
{
  background-color:#f7f8fa;
  color: rgba(159,166,189);
  height: 91vh;
  width:300px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: all 0.5s;
}
.top_selection{
  display:flex;
  align-items: center;
  padding: 20px 15px;
  background-color: rgb(85, 98, 98);
}
.logo
{
  text-align: center;
  font-size: 25px;
  background-color:#f8f9fb;
  color: rgba(0, 214, 143, 0.688);
  border-radius: 15px;
  
}
.bars{
  margin-left:30px;
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  background-color:#f8f9fb;
  display: flex;
  color:rgb(146, 157, 176);
  padding: 10px 15px;
  gap: 15px;
  margin-top: 20px;
  transition: all 0.5s;
}
.link:hover{
 
  color: rgb(2, 2, 2);
  transition: all 0.5s;
}
.active{
  /* background:#e5e9f0; */
  color: rgba(0, 214, 143, 0.758);
}
:hover.active
{
  color:rgba(0, 214, 143, 0.758);
}
.icon, .link_text{
  text-align:left;
  font-size: 25px;
  background-color:#f8f9fb;
}

@media screen and (max-width:600px) {

   #linktext{
    display: none;
   }
   .icon
   {
    font-size: 60px;
    margin-left: 33px;
   }
   .icon:hover::after
   {
      content: "Info";
      font-size: 25px;
      margin-top: 50px;
   }
  
}